registry=https://registry.npmjs.org/
@citeo:registry=https://pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/registry/

//pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/registry/:always-auth=true
//pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/registry/:username=citeocom
//pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/registry/:_password=${PAT_BASE64}
//pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/registry/:email=jira.connectors@citeo.tech
//pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/:username=citeocom
//pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/:_password=${PAT_BASE64}
//pkgs.dev.azure.com/citeocom/Design-System/_packaging/repository-citeo-npm/npm/:email=jira.connectors@citeo.tech